﻿@model IEnumerable<SportsStore.Components.NavigationMenuResponceModel>

<a class="btn btn-block btn-secondary"
   asp-controller="Product"
   asp-action="List"
   asp-route-category="">
    Home
</a>

@foreach (var category in Model)
{
    <a class="btn btn-block @(category.Category==ViewBag.SelectedCategory?"btn-primary":"btn-secondary")"
       asp-controller="Product"
       asp-action="List"
       asp-route-category="@category.Category"
       asp-route-productPage="1">
        @category.DisplayCategory
    </a>
}