﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
          asp-fallback-href="~/bootstrap/css/bootstrap.min.css" 
          asp-fallback-test-class="sr-only" 
          asp-fallback-test-property="position" 
          asp-fallback-test-value="absolute"/>

    <title>SportStore</title>
</head>
<bode>
    <div class="navbar navbar-dark bg-info" role="navigation">
        <a class="navbar-brand" href="#">Sports store</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</bode>
</html>
