﻿@model Product

<div class="card-body m-1 p-1">
    <div class="bg-light p-1">
        <div>
            <h4>
                @Model.Name
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@Model.Price.ToString("c")</small>
                </Span>
            </h4>
        </div>
        <div class="card-text p-1">@Model.Description</div>
    </div>
    <form id="@Model.ProductId"
          asp-action="AddToCart"
          asp-controller="Cart"
          method="post">
        <input type="hidden" asp-for="ProductId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-text p-1">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float: right">Add To Cart</button>
        </span>
    </form>
</div>

